/**
 * @author      Kylian Di Gaetano
 * @version     1.4
 * @since       2024.10.10
 *
 */


/************************************
*                                   *
*        ---  Page Devis ---        *
*                                   *
*************************************/

/* css/style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Ajoute cette ligne */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}
.container {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
}
h2 {
    color: #ff6f61;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #ff6f61;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #c1c1c1;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.form-button {
    width: 100%;
    padding: 12px;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #ff3e30;
}


footer {
    width: 100%;
    max-width: 600px; /* Aligne la largeur du footer avec celle de .container */
    margin-top: 20px;
    text-align: center;
    color: #c1c1c1;
    font-size: 14px;
}

.footer-credential {
    padding-top: 15px;
}

hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 20px 0;
}


    /************************************
    *                                   *
    *        ---  Erreur JS ---        *
    *                                   *
    *************************************/

/* pour la mise en page du message d'erreur dans le formulaire js*/
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

}